

body{
	background-color: pink;
}

h2{
	background-color: #F7E59D;      
	color: white;
	color: #0566A3;
	font-family: arial black header;
	text-align: center;
}

p {
	background-color: #DCEBF1;
	height: 70px;
	width:300px;
}

#banner-pic{
	height: 60px;
	position: relative;
	text-align: center;
	bottom: 80px;
	font-size: 55px;
	font-style: italic;
	text-shadow: 10px;
}

#content-Wrapper {
	width: 1300px;
	height: 380px;
	margin: auto;
}

#trips-section{
	position: relative;
	margin: 0px 0px 0px 120px;
}
.social-content-wrapper{
	height: 215;
	width:165;
	position: relative;
	margin: 0px 0px 500px 0px;
	float:right;
	list-style-type: none;
	bottom:125px;
	z-index: 2;
}
.header-size{
	width: 100%;

}

#content-wrapper-trips {
	float: right;
	margin:0px 0px 300px 0px;
	border: 3px solid gray; 
	width: 1350px;
	background-color: #7DCADD;
	display: inline-block;
}


.panel{
	display: inline-block;
	margin: 5px 2px 2px 5px;
	padding: 3px;
	border: 10px solid gray;
	background-color: #7DCADD;
	border-radius: 10px;
}	

.myNav{
	display: inline-block;
	float: left;
}
/*
 nav#utilityMenu li a, nav#utilityMenu li a:visited {padding: 0;}
 nav#utilityMenu li a:hover {background-color: transparent;}
 nav#utilityMenu ul li input#search {
 	vertical-align: middle;
 	margin: 0 0 0 1,0em;
 }*/
/* nav#utilityMenu ul li.acctNav::before, vav#utilityMenu ul li input#search::before{
 	content: " ";
 	color: #FCFBE6
 }*/

 #navBar {
 	height: 15px;
 	width: 1300px;
 	background-color:none;
 	position: relative;
 	padding: 3px;
	word-spacing: 20px;
 	margin-bottom: 100px;
 }


/*Footer*/
footer {
	background-color: #40362f;
	height: 25px;
	font-size:1.2em;
	color: #fff;
	width: 100%;
	text-align: 1.5em 2.0em;
	padding: 1.5em 2.0em;
}
footer ul#menuFooter {
	display: inline-block;
	list-style: none;
	margin: 0 0 0 0.6em;
	padding: 0;
}
footer ul li {
	display: inline-block;
	padding: 0 0.7em 0 0;
	margin: 0
}
footer ul li::before {
	content: "| ";
	padding-right: 0.7em;
}
footer a, footer a:visited {
	color: #fff;
	text-decoration: none;
}
footer a:hover {
	color: #fff;
	text-decoration: underline;
}